<div class="card">
  <img class="card-img-top"
    src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F59804615%2F301149195635%2F1%2Foriginal.20190405-091107?w=512&auto=compress&rect=0%2C0%2C2160%2C1080&s=38f47c6d1430839b36dcdce95ffcc1f1"
    alt="Card image cap">
  <div class="card-body">
    <div class="row">
      <div class="date">
        <p>APR <br> <strong>16</strong></p>
      </div>
      <div class="info">
        <h6>Replication Crisis and Credibility Revolution in Psychological Research</h6>
        <p>Faculty of Psychology UNAIR, Gubeng, Indonesia</p>
        <p>FREE</p>
      </div>
    </div>
  </div>
</div>
