<footer class="footer-distributed">

  <div class="footer-right">

    <a class="icon-facebook" targer="_blank" href="https://www.facebook.com">
      <i class="fa fa-facebook"></i>
    </a>
    <a class="icon-twitter" targer="_blank" href="https://www.twitter.com">
      <i class="fa fa-twitter"></i>
    </a>
    <a class="icon-instagram" targer="_blank" href="https://www.instagram.com">
      <i class="fa fa-linkedin"></i>
    </a>
    <a class="icon-github" targer="_blank" href="https://www.github.com">
      <i class="fa fa-github"></i>
    </a>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a href="#">Event</a>
      ·
      <a href="#">MeetUp</a>
      ·
      <a href="#">Lomba</a>
      ·
      <a href="#">Seminar</a>
      ·
      <a href="#">Contact Us</a>
    </p>

    <p>&copy; ComeOver, let's to come and join everyevent near you. All Rights Reserved. </p>
  </div>

</footer>