<nav id="navbar" class="navbar navbar-expand-lg">
  <a class="navbar-brand brand-text" href="#"><img src="../../../assets/Logo/Iconsfix.png" /></a>
  <div class="searchContainer">
    <i class="fa fa-search searchIcon"></i>
    <input class="searchBox" type="search" name="search" placeholder="Search" />
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item nav-button">
        <a class="nav-link nav-button-text" href="#">Browse Events</a>
      </li>
      <li class="nav-item nav-button">
        <a class="nav-link nav-button-text" [routerLink]="['/ticket']">Tickets</a>
      </li>
      <li class="nav-item nav-button">
        <a class="nav-link nav-button-text" [routerLink]="['/myevent/manage']">Manage Event</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item nav-button">
        <button [routerLink]="['/login']" class="btn sign-in sign-in-text my-2 my-sm-0" style="width:100px;">
          Sign In
          <i class="fas fa-sign-in-alt" style="margin-left:10%;"></i>
        </button>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item nav-button">
        <button (click)="logout()" class="btn sign-in sign-in-text my-2 my-sm-0" style="width:100px;">
          Logout
          <i class="fas fa-sign-in-alt" style="margin-left:10%;"></i>
        </button>
      </li>
    </ul>
  </div>
</nav>
