.form-container {
  padding-top: 50px;
  margin-bottom: 7%;
}

.login-container {
  border-top: 5px solid #ff561d;
  border-bottom: 5px solid #ff561d;

  padding: 50px 100px;
  /* background-color: #ecf0f1; */
}

.image-login img {
  width: 100%;
  padding-bottom: 20px;
}

.image-login h3 {
  font-weight: bold;
}

p {
  font-size: 14px;
  color: #95a5a6;
}

.btn-login {
  background-color: #ff561d;
  color: #fff;
  font-weight: bold;
}
