<div class="container">
  <div class="row pt-5 pb-5">
    <div class="col-md-4 m-auto text-center">
      <img class="pb-5 profile-pic"
        src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg">
      <h3> {{user.name}} </h3>
      <p> {{user.address}} </p>
    </div>
    <div class="col-md-8 pt-3">
      <div class="row">
        <button class="button-profile">Edit Profile</button>
        <button [routerLink]="['/myevent/manage']" routerLinkActive="router-link-active" *ngIf="user.organizer != null"
          class="button-profile">Organizer</button>
      </div>
      <hr>
      <label>Contact Information</label>
      <div class="row mt-4">
        <div class="col-sm-3">
          <div class="field">
            <p>Email</p>
            <p>Phone</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="value">
            <p> {{user.email}} </p>
            <p> {{user.phone}} </p>
          </div>
        </div>
      </div>
      <hr>
      <label>Organizer Information</label>
      <div class="row mt-4">
        <div class="col-sm-4">
          <div class="field">
            <p>Organizer Name</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="value">
            <p *ngIf="user.organizer != null"> {{user.organizer}} </p>
            <div *ngIf="user.organizer == null">
              <input class="form-control mb-2" [(ngModel)]="input" type="text" name="organizer"
                placeholder="organizer name">
              <button *ngIf="user.organizer == null" (click)="setOrganizer()" class="button-profile">create organizer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
