<div class="container">
  <div class="row pt-5 pb-5">
    <div class="col-md-4 m-auto text-center">
      <img class="pb-5 profile-pic"
        src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg">
      <h3>Nama User</h3>
      <p>Alamat</p>
    </div>
    <div class="col-md-8 pt-3">
      <div class="row">
        <button class="button-profile">Edit Profile</button>
        <button class="button-profile">Organizer</button>
      </div>
      <hr>
      <label>Contact Information</label>
      <div class="row mt-4">
        <div class="col-sm-4">
          <div class="field">
            <p>Email</p>
            <p>Phone</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="value">
            <p>Email</p>
            <p>Phone</p>
          </div>
        </div>
      </div>
      <hr>
      <label>Organizer Information</label>
      <div class="row mt-4">
        <div class="col-sm-4">
          <div class="field">
            <p>Organizer Name</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="value">
            <p>Email</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
