<div class="landing background">
  <div class="container row">
    <div class="col-sm-7 text-left">
      <p>Things to do in <br>
        <strong>Surabaya</strong> <br>
        Looking for something to do in Surabaya? Whether you're a local, new in town or just cruising through we've got
        loads of great tips and events. You can explore by location, what's popular, our top picks, free stuff... you
        got this. Ready?</p>
    </div>
    <div class="col-sm-7 splash-right">
    </div>
  </div>
</div>

<h2>Events near Surabaya</h2>
<div class="container">
  <div class="row">
    <a *ngFor="let card of cards" [routerLink]="['/events', card]">
      <app-card-event></app-card-event>
    </a>
  </div>
</div>

<!-- <body class="background">
  <div class="row">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="facebook.png">
      <div class="card-body">
        <h1 class="card-title">Cornetto Jak Cloth 2019</h1>
        <h5>8 April 2019, 15.00 WIB</h5>
        <h6>Graha Dewantara Jl. Kuta No 12, Malang</h6>
        <a href="#" class="btn btn-primary" style="width:100%">Register</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="musik.jpg">
      <div class="card-body">
        <h1 class="card-title">Super Music.ID Rock Adventure</h1>
        <h5>13 April 2019, 19.00 WIB</h5>
        <h6>Lap Rampal, Malang</h6>
        <a href="#" class="btn btn-primary" style="width:100%">Register</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="musik.jpg">
      <div class="card-body">
        <h1 class="card-title">Super Music.ID Rock Adventure</h1>
        <h5>13 April 2019, 19.00 WIB</h5>
        <h6>Lap Rampal, Malang</h6>
        <a href="#" class="btn btn-primary" style="width:100%">Register</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="musik.jpg">
      <div class="card-body">
        <h1 class="card-title">Super Music.ID Rock Adventure</h1>
        <h5>13 April 2019, 19.00 WIB</h5>
        <h6>Lap Rampal, Malang</h6>
        <a href="#" class="btn btn-primary" style="width:100%">Register</a>
      </div>
    </div>
  </div>
</body> -->
