<app-header></app-header>

<body class="background">
  <div class="row">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="facebook.png">
      <div class="card-body">
        <h1 class="card-title">Cornetto Jak Cloth 2019</h1>
        <h5>8 April 2019, 15.00 WIB</h5>
        <h6>Graha Dewantara Jl. Kuta No 12, Malang</h6>
        <a href="#" class="btn btn-primary" style="width:100%">Register</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="musik.jpg">
      <div class="card-body">
        <h1 class="card-title">Super Music.ID Rock Adventure</h1>
        <h5>13 April 2019, 19.00 WIB</h5>
        <h6>Lap Rampal, Malang</h6>
        <a href="#" class="btn btn-primary" style="width:100%">Register</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="musik.jpg">
      <div class="card-body">
        <h1 class="card-title">Super Music.ID Rock Adventure</h1>
        <h5>13 April 2019, 19.00 WIB</h5>
        <h6>Lap Rampal, Malang</h6>
        <a href="#" class="btn btn-primary" style="width:100%">Register</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="musik.jpg">
      <div class="card-body">
        <h1 class="card-title">Super Music.ID Rock Adventure</h1>
        <h5>13 April 2019, 19.00 WIB</h5>
        <h6>Lap Rampal, Malang</h6>
        <a href="#" class="btn btn-primary" style="width:100%">Register</a>
      </div>
    </div>
  </div>
</body>

<app-footer></app-footer>