<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="manage-card">
          <h2>Manage Event</h2>
          <div class="row">
            <button class="btn add-event-btn"> <i class="fa fa-plus" aria-hidden="true"></i> Add Event</button>
            <input class="search-event" type="text" placeholder="search for event">
          </div>
          <div class="card-manage-event row" *ngFor="let item of myevent; let i = index">
            <div class="col-sm-8">
              <h6> {{i}} {{item.nameEvent}} </h6>
              <p><i class="far fa-calendar"></i> Apr 6, 2019 7:00 PM</p>
              <div class="row">
                <li><span class="fas fa-tasks"></span> Manage</li>
                <li><i class="fas fa-edit"></i> Edit</li>
              </div>
            </div>
            <div class="col-sm-4 text-center">
              <h6>Ticket Sold</h6>
              <h1>5/30</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <app-create-event-pages (createdEvent)="onEventAdded($event)"></app-create-event-pages>
      </div>
    </div>
  </div>
</div>
