  <div id="bg">
    <img
      src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/yRF5c-O/fancy-rings-motion-background-flat-design-4k-and-full-hd-orange_s_xntfyf__F0000.png">
  </div>

  <div class="container wrapper">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-8 image-banner">
            <img src="{{ events.posterEvent }}">
          </div>
          <div class="col-sm-4 event-info">
            <h5>APRIL <br> 16 </h5>
            <p>{{events.nameEvent}}</p>
            <h6> {{events.organizerEvent}} </h6>
            <h6> <strong>FREE </strong> </h6>
            <button [routerLink]="['/register', events._id]" class="button-green">Register</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8 about-event">
            <p>Meetup #1 - Surabaya JS <br>
              <strong>at</strong>
              <br>
              AJBS
              <br>
              <strong>
                {{events.locationEvent}}
              </strong>
            </p>
          </div>
          <div class="col-sm-4 about-event">
            <p> Date and Time</p>
            <p>
              <strong>Thu, April 18, 2019
                <br>
                {{events.timeEvent}}</strong></p>
          </div>
        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
